.container {
    margin: 0;
    padding: 0;
}

.container_header {
    display: flex;
    padding: 60px;
}

.imageSection {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
}

.infoSection h1 {
    font-size: 30px;
    font-weight: bold;
}

.infoSection p {
    flex-direction: column;
}

.infoSection .titlePrice {
    color: orange;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    margin-right: 500px;
}

.info-common {
    margin-left: 0;
    padding-left: 0;
}