.container {
    margin: 0;
    padding: 0;
}

.container_header {
    display: flex;
    padding: 60px;
}

.imageSection {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
}

.infoSection h1 {
    font-size: 30px;
    font-weight: bold;
}

.infoSection p {
    flex-direction: column;
}

.infoSection .titlePrice {
    color: orange;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    margin-right: 500px;
}

.infoCommon {
    margin-left: 20px;
    font-size: 15px;
}

.quantityContainer {
    display: flex;
    gap: 30px;
    padding-top: 30px;
    overflow: hidden;
}

.quantityContainer p {
    margin-right: 20px;
    font-size: 15px;
}

.quantityInput {
    display: flex;
    align-items: center;
    background: orange;
    padding: 0px;
    border-radius: 30px;
    width: fit-content;
    border: 1px solid orange;
    width: 180px;
}

.quantityBtn {
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: bold;
}

.quantityNumber {
    width: 75px;
    text-align: center;
    background: white;
    border: none;
    border-radius: 0px;
    font-size: 18px;
    font-weight: 600;
    color: #555;
    padding: 8px 0;
    margin: 0;
}