.container {
    margin: 0;
    padding: 0;
}

.container_header {
    display: flex;
    padding: 60px;
}

.imageSection {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
}

.infoSection h1 {
    font-size: 30px;
    font-weight: bold;
}

.infoSection p {
    flex-direction: column;
}

.infoSection .titlePrice {
    color: orange;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    margin-right: 500px;
}

.infoCommon {
    margin-left: 20px;
    font-size: 15px;
}

.quantityContainer {
    display: flex;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
    overflow: hidden;
}

.selectLabel {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 25px;
    font-size: 15px;
}

.quantityInput {
    display: flex;
    align-items: center;
    background: orange;
    padding: 0px;
    border-radius: 30px;
    width: fit-content;
    border: 1px solid orange;
}

.quantityBtn {
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: bold;
}

.quantityNumber {
    width: 75px;
    text-align: center;
    background: white;
    border: none;
    border-radius: 0px;
    font-size: 18px;
    font-weight: 600;
    color: #555;
    padding: 8px 0;
    margin: 0;
}

.buy {
    padding: 10px;
    display: flex;
    gap: 80px;
}

.buychoose {
    gap: 20px;
    padding: 20px;
    margin-right: 40px;
    background-color: rgb(255, 238, 205);
    border: 2px solid orange;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    color: orange;
}

.buychoose:hover {
    background-color: orange;
    color: white;
}

.buyButton {
    width: 140px;
    background-color: rgb(255, 238, 205);
    border: 2px solid orange;
    border-radius: 10px;
    color: orange;
    cursor: pointer;
    font-weight: bold;
}

.buyButton:hover {
    background-color: orange;
    color: white;
}

.container_footer {
    padding: 30px;
    border: 2px solid rgb(155, 155, 155);
}

.container_footer h1 {
    margin-left: 30px;
    font-size: 25px;
}

.image_outstanding {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outstanding_features_container {
    margin-left: 25px;
}

.outstanding_features_container p {
    margin-top: 20px;
}