.content-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-layout {
    display: flex;
    flex: 1;
}

.Sidebar {
    width: 260px;
    background: #f8f8f8;
    padding: 20px;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: white;
}