.commentContainer {
    padding: 20px;
}

.commentShadow {
    padding: 20px;
    border: 1px solid #ccc;
}

.totalInformation {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.genderGroup {
    display: flex;
    direction: column;
    gap: 30px;
    align-items: center;
    margin-bottom: 20px;
}