.commentContainer {
    padding: 20px;
}

.commentShadow {
    padding: 20px;
    border: 1px solid #ccc;
}

.totalInformation {
    padding: 10px;
    padding-right: 120px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.genderGroup {
    display: flex;
    direction: column;
    gap: 40px;
    align-items: center;
    margin-bottom: 20px;
}

.genderGroup label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 550;
}

.inputRow {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.inputRow input {
    flex: 1;
    padding: 12px 14px;
    border: 1.5px solid #ddd;
    border-radius: 10px;
    font-size: 15px;
    transition: all 0.25s ease;
}

.inputRow input:focus {
    border-color: #ea9f2f;
    box-shadow: 0 0 4px rgba(209, 154, 27, 0.5);
    outline: none;
}

.textarea {
    width: 80%;
    max-width: 900px;
    min-width: 500px;
    display: block;
    /* để margin auto có tác dụng */
    margin: 0 auto 20px;
    /* căn giữa */
    min-height: 130px;
    padding: 14px 16px;
    font-size: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #fff;
    font-family: inherit;
    resize: vertical;
    transition: all 0.25s ease;
}

.textarea:focus {
    border-color: #ea9f2f;
    box-shadow: 0 0 4px rgba(209, 154, 27, 0.5);
    outline: none;
}